<style>
  .button {
    padding-top: 1px;
   padding-bottom: 1px;
  }
</style>
<nav class="ui blue inverted menu" >
  <header class="header item"><a href="/userTimeline"> Home </a></header>
  <div class = "left menu">
    <div class="item">
      <form action= "/user" methods ="POST">
      <div class="ui transparent inverted icon input">
        <input type="text" name="user" placeholder="Search for Users">
        <button class="ui mini blue submit button"><i class="search icon"></i></button>
    </div>
      </form>
    </div>


  </div>
  <div class="right menu">
    <div class ="ui simple dropdown item">
      Admin
      <i class="dropdown icon"></i>
      <div class="menu">
        <a id="admin" class="item" href="/admin">Master View</a>
        <a id="tweetadmin" class="item" href="/tweetAdmin">Tweet Admin</a>
        <a id="useradmin" class="item" href="/userAdmin">User Admin</a>
      </div>
    </div>
    <div class ="ui simple dropdown item">
      Users
      <i class="dropdown icon"></i>
      <div class="menu">
        <a id="registeredusers" class="item" href="/registeredusers">Users</a>
        <a id="otherUsers" class="item" href="/otherUser">Other Users</a>
        <a id="friends" class="item" href="/friends">Friends</a>
      </div>
    </div>

    <a id="tweet" class="item" href="/tweet">Tweet</a>
    <div class ="ui simple dropdown item">
      Timelines
      <i class="dropdown icon"></i>
      <div class="menu">
    <a id="timeline" class="item" href="/timeline">Global Timeline</a>
    <a id="friendsTimeline" class="item" href="/friendsTimeline">Friends Timeline</a>
    <a id="userTimeline" class="item" href="/userTimeline">Personal Timeline</a>
      </div>
    </div>
    <a id="settings" class= "item" href="/settings"> Settings</a>
    <a id="logout" class= "item" href="/logout">Logout <i class="sign out icon"></i></a>
  </div>
</nav>


<script>
  $("#{{_id}}").addClass("active item");
</script>