

<section class="ui raised segment">
 <h1>{{message}}</h1>
  <div class = "ui two column grid">
    <div class="ui  column">
    {{#each tweets}}
      <div class ="ui segment">
        <h3> <div class ="ui simple dropdown item">
          <i class="blue twitter icon"></i>
          <div class="menu">
            <a class ="item" href="/deleteTweet/{{_id}}" method="GET">Delete the tweet</a>
            <a class ="item" href="/userTimeline/{{tweetUser._id}}" method="GET">timeline</a>
          </div>
        </div>
          <a href="/userTimeline/{{tweetUser._id}}" methods="GET">{{tweetUser.firstName}} {{tweetUser.lastName}} :</a> </h3>
        <hr> </hr>
        <h4>{{tweet}}</h4>
      </div>
    {{/each}}
    </div>
    <div class = "ui left aligned top aligned column">
      <form action="/tweet" method="POST">
        <div class="ui form">
          <div class="field">
            <textarea name="tweet" placeholder="Insert your Tweet"  rows="5" cols="50" wrap="virtual" maxlength="140"></textarea>
          </div>
        </div>
        <p> </p>
        <div class = "field">
        <button class="ui blue submit button"><i class="twitter icon"></i>tweet</button>
        </div>
      </form>
      {{> formerror }}
    </div>
  </div>

</section>

