<article class="ui three column">

  <div class ="ui segment">
    <h2> Tweet Settings </h2>
    <hr> </hr>
    <div class="ui two column grid">
      <div class="left aligned column">
        <a href ="/timelineBulk" class = "item">
          <i class="huge trash icon"></i>
        </a>
      </div>
      <div class="left bottom aligned column">
        <h2> Remove Bulk</h2>
      </div>
    </div>
  </div>
</article>


