<section class="ui raised segment">

  <div class = "ui three column grid">
    <div class = "ui column">
  <form action="/tweet" method="POST">
    <div class="ui form">
      <div class="field">
        <textarea name="tweet" placeholder="Insert your Tweet"  rows="5" cols="50" wrap="virtual" maxlength="140"></textarea>
      </div>
    </div>
    <p> </p>
    <div class = "field">
      <button class="ui blue submit button"><i class="twitter icon"></i>tweet</button>
    </div>
  </form>
  {{> formerror }}
    </div>
    <div class = "ui center aligned column">
      <form action="/deleteAll" method="POST">
        <h1><i class="huge blue trash icon"></i></h1>
    <button class="ui blue submit button">Delete my Tweets</button>
  </form>
    </div>
    <div class ="ui column">
      <div class = "ui column">
        <form action="/status" method="POST">
          <div class="ui form">
            <div class="field">
              <textarea name="status" placeholder="Change your current status"  rows="5" cols="50" wrap="virtual" maxlength="50"></textarea>
            </div>
          </div>
          <p> </p>
          <div class = "field">
            <button class="ui blue submit button"><i class="talk icon"></i> change status</button>
          </div>
        </form>
        {{> formerror }}
      </div>
    </div>
  </div>

</section>