{{> mainmenu _id="addForMaster" }}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui ten wide column">
      <div class="ui stacked fluid form segment">
        <form action="/addUserFromMaster" method="POST">
          <h3 class="ui header">Register</h3>
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input placeholder="First Name" type="text" name="firstName">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input placeholder="Last Name" type="text" name="lastName">
            </div>
          </div>
          <div class="field">
            <label>Email</label>
            <input placeholder="Email" type="text" name="email">
          </div>
          <div class="field">
            <label>Status</label>
            <input placeholder="Status" type="text" name="status">
          </div>
          <div class ="field"><label>Master Admin Account?</label></div>
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="masteradmin" value="true" checked="checked">
                <label>Yes</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="masteradmin" value="false" checked="checked">
                <label>No</label>
              </div>
            </div>
          </div>
          <div class ="field"><label>User Admin Account?</label></div>
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="useradmin" value="true" checked="checked">
                <label>Yes</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="useradmin" value="false" checked="checked">
                <label>No</label>
              </div>
            </div>
          </div>
          <div class ="field"><label>Tweet Admin Account?</label></div>
          <div class="inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="tweetadmin" value="true" checked="checked">
                <label>Yes</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="tweetadmin" value="false" checked="checked">
                <label>No</label>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="password">
          </div>
          <button class="ui blue submit button">Submit</button>
        </form>
        {{> formerror }}
      </div>
    </div>
    <aside class="ui five wide column">
      <img src="images/twitter1.png" class="ui medium image">
    </aside>
  </div>
</section>