{{> mainmenu _id="friendsTimeline" }}

<header class="ui center aligned middle aligned grid stackable segment">
  <h1><i class="huge blue twitter icon"></i>Friends Timeline<i class="huge blue twitter icon"></i></h1>
</header>

{{> timelineview }}