{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
      <aside class="six wide column">
        <img src="images/favicon.png" class="ui medium image">
      </aside>
      <article class="ten wide column">
        <header class="ui  header"> That's Twitter</header>
        <p> We are glad that you are here and we are looking forward to see your tweets </p>
      </article>
    </div>
  </section>
