{{> mainmenu _id="otherUsers" }}
<header class="ui one column center aligned middle aligned grid stackable segment">
  <div class="ui column">

    <h1 class="ui header"> <i class="huge blue users icon"></i>#PersonWhoAlsoUseTwitter</h1>
    <h3 class="ui header">#MaybeIWillFollowThem <i class="blue users icon"></i></h3>
  </div>
</header>
<section class = "ui raised segment">
<section class="ui three cards">
  {{#each users}}
    <div class="ui card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button">Call to Action</div>
            </div>
          </div>
        </div>
        <img src="images/favicon.png">
      </div>
      <div class="content">
        <a class="header" href="/userTimeline/{{_id}}" methods="GET">{{firstName}} {{lastName}}</a>
        <div class="text">
          <span class="text">Status: {{status}}</span>
        </div>
      </div>
      <div class="extra content">
        <div class = "ui two column grid">
          <div class = "ui column">
        <form action="/follow/{{_id}}" methods="GET" class="form-disabel">
          <button class="ui active button">
            <i class="user icon"></i>
            Follow
          </button>
        </form>
          </div>
          <div class =" ui right aligned column">
          <button class="ui disabled button">
            <i class="user icon"></i>
            Unfollow
          </button>
          </div>
      </div>
      </div>
    </div>
  {{/each}}
</section>
  </section>