{{> mainmenu _id="registeredusers" }}
<header class="ui one column center aligned middle aligned grid stackable segment">
  <div class="ui column">

    <h1 class="ui header"> <i class="huge blue users icon"></i>#User</h1>
    <h3 class="ui header">#GreatApplication <i class="blue users icon"></i></h3>
  </div>
</header>
<section class = "ui raised segment">
<section class="ui three cards">
  {{#each users}}
<div class="ui card">
  <div class="blurring dimmable image">
    <img src="images/favicon.png">
  </div>
  <div class="content">
    <a class="header" href="/userTimeline/{{_id}}" methods="GET">{{firstName}} {{lastName}}</a>
    <div class="text">
      <span class="text">Status: {{status}}</span>
    </div>
  </div>
  <div class="extra content">
    <div class = "ui two column grid">
      <div class = "ui column">
    <form action="/otherUser" methods="GET" class="form-disabel">
    <button class="ui active button">
      OtherUser</button>
    </form>
      </div>
      <div class="ui right aligned column">
    <form action="/friends" methods="GET" class="form-disabel">
    <button class="ui active button">
      Friends</button>
    </form>
      </div>
    </div>
  </div>
</div>
  {{/each}}
</section>
</section>

