{{> mainmenu _id="timelineBulk" }}
<header class="ui one column center aligned middle aligned grid stackable segment">
  <div class="ui column">

    <h1 class="ui header"> <i class="huge blue twitter icon"></i>#AllUserTweets</h1>
    <h3 class="ui header">#AbilityToDeleteAll <i class="blue twitter icon"></i></h3>
  </div>
</header>
<section class="ui raised segment">
  <div class="ui grid">
      <table class="ui celled table segment">
        <thead>
        <tr>
          <th>User</th>
          <th>Tweet</th>
          <th>Select to delete</th>
        </tr>
        </thead>
        <tbody>
        <form action="/deleteSome" method="post">
        {{#each tweets}}
          <tr>
            <td>
              <a href="/userTimeline/{{tweetUser._id}}" methods="GET">{{tweetUser.firstName}} {{tweetUser.lastName}} :</a>
            </td>
            <td>{{tweet}}</td>
            <td><div class="ui toggle checkbox">
              <input type="checkbox" name="public" value="{{_id}}">
              <label>delete <i class ="trash icon"></i></label>
            </div></td>
          </tr>
        {{/each}}
          <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th><button class="ui blue submit button"><i class ="trash icon"></i>Delete</button></th>
      </tr>
      </tfoot>
        </form>
        </tbody>
      </table>
    </article>
  </div>
</section>
