{{> mainmenu _id="tweet" }}

<header class="ui one column center aligned middle aligned grid stackable segment">
  <div class="ui column">

    <h1 class="ui header"> <i class="huge blue twitter icon"></i>#TweetOrDelete</h1>
    <h3 class="ui header">#AlsoChangeStatus <i class="blue talk icon"></i></h3>
  </div>
</header>

{{> tweets}}