{{> mainmenu _id="tweetAdmin" }}
<header class="ui two column center aligned middle aligned grid stackable segment">
  <div class="ui column">
    <h1 class="ui header"> Administration Settings</h1>
    <h3 class="ui header"> These is the tweet administrator view </h3>
  </div>
  <div class="ui column">
    <p>
      <i class="huge settings icon"></i>
    </p>
  </div>
</header>
<section class="ui raised segment">
  <div class="ui three column grid">
  {{> tweetadm}}
  </div>
</section>