{{> mainmenu _id="userAdmin" }}
<header class="ui two column center aligned middle aligned grid stackable segment">
  <div class="ui column">
    <h1 class="ui header"> Administration Settings</h1>
    <h3 class="ui header"> These is the user administrator view </h3>
  </div>
  <div class="ui column">
    <p>
      <i class="huge settings icon"></i>
    </p>
  </div>
</header>
<section class="ui raised segment">
  <div class = "ui three column grid">
    <article class="ui three column">

      <div class ="ui segment">
        <h2> User Settings </h2>
        <hr> </hr>
        <div class="ui two column grid">
          <div class="left aligned column">
            <a href ="/addUser" class="item">
              <i class="huge add user icon"></i>
            </a>
          </div>
          <div class="left bottom aligned column">
            <h2> Add an User</h2>
          </div>
        </div>
      </div>
    </article>
    <article class="ui three column">

      <div class ="ui segment">
        <h2> User Settings </h2>
        <hr> </hr>
        <div class="ui two column grid">
          <div class="left aligned column">
            <a href ="/removeUser" class="item">
              <i class="huge remove user icon"></i>
            </a>
          </div>
          <div class="left bottom aligned column">
            <h2> Remove User</h2>
          </div>
        </div>
      </div>
    </article>

  </div>

</section>

