{{> mainmenu _id="userTimeline" }}
<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui form five wide column">
      <div class="ui stacked segment">
        <h1>{{tweeter}}</h1>
        <hr> </hr>
      <div class="field">
        <label>Status: <i class="talk icon"></i> {{status}}</label>
      </div>
      <div class="field">
        <label>Member since: <i class="checked calendar icon"></i> {{joined}}</label>
      </div>
      </div>
    </div>
    <div class = "ui grid">
      <div class="ui form six wide column">
      </div>
    </div>

    <aside class="ui form six wide column">
      <div class="ui statistics">
        <div class="statistic">
          <div class="value">
            {{tweetNumber}}
          </div>
          <div class="label">
            Tweets
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            {{follow}}
          </div>
          <div class="label">
            Following
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            {{followers}}
          </div>
          <div class="label">
            Follower
          </div>
        </div>
      </div>
    </aside>

  </div>
</section>
{{> timelineview }}